<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
    <h1>Window</h1>
    <button>按钮1</button>
    <button>按钮2</button>
<script>
    const { remote, ipcRenderer } = require('electron');
    // console.log(username); // 直接拿主进程中的全局变量内容是拿不到的
    // 但是可以通过 electron 的 romote 属性的 getGloabal() 来拿到
    console.log(remote.getGlobal('username'));

    const btns = document.querySelectorAll('button');
    btns[0].onclick = function() {
    ipcRenderer.send('getData', 'username');
    }
    ipcRenderer.on('sendData', function(e, data) {
    console.log(e, data);
    })
    btns[1].onclick = function() {
    localStorage.setItem('myname', 'paian');
    }
</script>
</body>
</html>
